@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
  

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/Home/Index">
                <span ng-controller="HomeController">
                    <img src="~/UploadedFiles/{{user.imagePath}}" style="width:20px;height:20px; background: #FFFFFF;
                                margin: auto;
                                -moz-border-radius: 1px;
                                border-radius: 100px;
                                padding: 1px;
                                " />
                                @User.Identity.Name
                </span>
            </a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
